.main-doctors {
  padding: 2rem 7%;
  background: url(images/backgroung-pattern-3.png) center/cover no-repeat;
  background-color: #f5f5f5;
  width: 100%;
}

.doctors-heading {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
  color: var(--maincolor);
  font-weight: bold;
  margin-top: 8rem;
}

.main-inner-doctor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
}

.doc-poster {
  flex: 1 1 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.doc-poster img {
  width: 100%;
  border: 0.7rem solid var(--maincolor);
  transition: border-radius 0.3s ease;
}

.doc-poster:hover img {
  border-radius: 0 50px 0 0;
}

.doc-icons {
  position: absolute;
  left: -100%;
  top: 10%;
  transition: 0.5s ease;
  z-index: 2;
}

.doc-poster:hover .doc-icons {
  left: 5%;
}

.doc-icons i {
  font-size: 2rem;
  margin: 0.5rem;
  border: 1px solid var(--secondcolor);
  color: var(--maincolor);
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.doc-icons i:hover {
  background-color: white;
  color: var(--secondcolor);
  border-radius: 10px;
  transform: scale(1.2);
  border: 1px solid var(--maincolor);
}

.doc-poster::after {
  content: "";
  background: linear-gradient(0deg, #f5f5f5 50%, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -200px;
  z-index: 1;
  transition: 0.5s;
}

.doc-poster:hover::after {
  bottom: -100px;
}

.doc-details {
  position: absolute;
  text-align: center;
  z-index: 3;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease;
}

.doc-details h2 {
  color: black;
  font-size: 2.5rem;
  padding: 2rem 0 1rem;
}

.doc-details i {
  padding: 0.5rem;
  font-size: 2.5rem;
  color: var(--maincolor);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.doc-details i:hover {
  color: var(--secondcolor);
  transform: scale(1.2);
}

.doc-poster:hover .doc-details {
  bottom: 10px;
}
